/*
THE WEBSITE WAS DESIGNED AND CREATED FOR CASBN BY BIZHTECH (www.bizhtech.com)
CONTACT: bizhtech1@gmail.com

BIZHTECH IS NOT RESPONSIBLE AND WILL NOT BE HELD RESPONSIBLE IN ANY COURT OF LAW FOR ANY USE OF COPYRIGHTED CONTENT ON THIS WEBSITE OR BY CASBN THAT MAY RESULT IN BREACH OF ANY INTELLECTUAL PROPERTY RIGHTS
CASBN IS RESPONSIBLE FOR ENSURING THAT THEY HAVE THE RIGHT TO PUBLISH THE CONTENT, MEDIA, VISIUALS OR ANYTHING ON THIS WEBSITE
COPYRIGHT CASBN
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato','Sarabun',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1031;
  transition: 2s ease-in-out;
}
#preloader .row{
  padding-top: 50vh;
  transform: translateY(-25%);
}
#preloader img{
  height: 200px !important;
}
#preloader img{
  position: relative;
  margin: 0 auto;
  -webkit-animation: spin 1.5s ease-in-out infinite;
  animation: spin 1.5s ease-in-out infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.fadeItOut{
  animation: fadeout 2s ease-in-out both;
  -webkit-animation: fadeout 2s ease-in-out both;
}
@keyframes fadeout {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
@-webkit-keyframes fadeout {
  0% { opacity: 1;}
  100% { opacity: 0; }
}
/*||||||||||||||||||||||||||||||||*/
/*  NAVIGATION BAR STYLES START  */
/*|||||||||||||||||||||||||||||||*/
.navbar-brand img{
  height: 55px;
}
.fa-bars{
color: #000;
}
#topnav{
 -webkit-transition: 0.45s all cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.45s all cubic-bezier(0.55, 0, 0.1, 1);
  background-color: transparent;
  font-family: 'Inter','Lato','Sarabun',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border-bottom: 1px solid black;
}
#topnav .dropdown-menu-right{
  right: auto !important;
  background-color: #fff;
}
.navbar-nav a{
  font-weight: bold;
  opacity: 1;
  font-family: 'Inter','Lato','Sarabun',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.navbar-nav a.active{
  color: #174d82;
}
.navbar-shadow{
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0px 15px rgb(0,0,0,0.25);
}
nav ul li{
  padding: 10px
}
nav ul li a.current{
  border: 1px solid transparent;
  color:#000;
  background-color: #000;
}

@media (min-width:999px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }
}
@media (max-width: 992px){
  #topnav{
    background-color: #fff;
  }
  #topnav .fa-bars{
    font-size: 1.5em;
  }
  #navbarResponsive{
    height: 100%;
    background-color: #fff !important;
  }
  .navbar-nav{
    margin-top: 0px;
  }
}
nav .bl a::after {
	content: '';
	display: block;
	height: 3px;
	background-color: #174d82;
  top: 0;
	width: 0%;
	transition: all ease-in-out 175ms;
}
nav .bl a:hover::after{
	width: 100%;
}
/*||||||||||||||||||||||||||||||||*/
/*   NAVIGATION BAR STYLES END   */
/*|||||||||||||||||||||||||||||||*/



/*||||||||||||||||||||||||||||||||*/
/*      LANDING STYLES START      */
/*|||||||||||||||||||||||||||||||*/
#landingContent{
  padding-top: 130px;
  padding-bottom: 40px;
  background-color: #edf2f8;
}

.FirstHeading{
  font-size: 80px;
  font-weight: 400;
  line-height: 1.15;
  color: #062649 !important;
  margin-bottom: 50px;
}

.SecondHeading{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  /* max-width: 1020px; */
  margin-left: auto;
  margin-right: auto;
  color: #062649 !important;
}
.ContactContentWrap{
  background-color: #0b1853;
  border-radius: 15px;
  box-shadow: 0 0 8px 0 rgba(68,67,67,.5);
  margin-bottom: 10px;
  color: white;

}
.ContentHeading1{
  margin-top: 50px;
  font-size: 45px;
  text-align: justify;
}
.ContentHeading2{
  margin-top: 20px;
  font-size: 25px;
  opacity: 0.8;
  text-align: justify;
}
.ContentHeading3{
  margin-top: 30px;
  font-size: 32px;
  text-align: justify;
}
.form-control{
  background-color: #0b1853 !important;
  border: 0px !important;
  border-bottom: 1px solid white !important;
  border-radius: 0px !important;
  color: white !important;
}

.NoMap{
  background-color: #0b1853;
  color: white;
}
.Map{
  padding: 0 !important;
}
.VisitUs{
  margin-top: 40px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.15;
}
.SayHello{
  margin-top: 10px;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 20vh;
}
.AddressHeading{
  margin-top: 40px;
  font-size: 22px;
}
.ContactUsHeading{
  margin-top: 40px;
  font-size: 22px;
}
.ContactUsContent{
  font-size: 16px;
}
.ContactUsContentend{
  margin-bottom: 15vh;

}

@media (max-width:992px) {
  .FirstHeading{
    font-size: 60px;
  }
  .ContentHeading1{
    margin-top: 50px;
    font-size: 40px;
  }
  .ContentHeading2{
    margin-top: 20px;
    font-size: 20px;
  }
  .ContentHeading3{
    margin-top: 30px;
    font-size: 28px;
  }
}
@media (max-width:768px) {
  .FirstHeading{
    font-size: 50px;
  }
  .ContentHeading1{
    margin-top: 50px;
    font-size: 37px;
  }
  .ContentHeading2{
    margin-top: 20px;
    font-size: 17px;
  }
  .ContentHeading3{
    margin-top: 30px;
    font-size: 25px;
  }
}

.xyz{
  border: 1px solid black;
}
#heroLogo{
  width: 25% !important;
  -webkit-filter: drop-shadow(1px 3px 2px #222);
  filter: drop-shadow(1px 3px 2px #222);
}
/*||||||||||||||||||||||||||||||||*/
/*      FOOTER STYLES START       */
/*|||||||||||||||||||||||||||||||*/
footer #heroLogo{
  width: 100% !important;
  -webkit-filter: drop-shadow(1px 3px 2px #222);
  filter: drop-shadow(1px 3px 2px #222);
}
footer{
  color: #e6e6e6;
}

.footer-centering{
  width: 100%;
}
.footer-centering img{
  margin: 0 auto !important;
  position: relative;
  left: 50%;
  transform: translate(-50%) !important;
}
footer .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #fff;
}
.fa-youtube{
  background: #c4302b;
  color: white;
}
.fa-instagram {
  background: #c13584;
  color: white;
}
footer h5 span{
  font-size: 1rem;
}
@media (max-width:992px) {
  footer #heroLogo{
    width: 100% !important;
  }
}
@media (max-width:768px) {
  footer #heroLogo{
    width: 25% !important;
  }
  footer #imgCol{
    display: flex;
    justify-content: center;
  }
  footer #contactCol h5, footer #smCol h5{
    text-align: center !important ;
  }
  footer #icCol{
    display: flex;
    justify-content: center;
  }
}
